<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MyStory.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
				<key>dateExpires</key>
				<string>2020/3/17</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSAPIGateway.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCognito.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoIdentityProvider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCognitoIdentityProviderASF.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSDynamoDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSLambda.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSLex.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSMobileAnalytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSPinpoint.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AWSSNS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C11CB2FA21DA73944E06D21F5260ABB355137B43</string>
						<key>dateExpires</key>
						<string>2020/3/17</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>EZAudioiOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>74EUMH5369</string>
						<key>name</key>
						<string>ZHAO PENGGANG</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>74EUMH5369.com.PenggangZhao.MyStory</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>74EUMH5369</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>MyStory.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>207263c0-6ba9-452f-99ed-62d9c9a89091</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.PenggangZhao.MyStory</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>74EUMH5369</string>
				<key>name</key>
				<string>ZHAO PENGGANG</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
